<div class="d-flex flex-column flex-shrink-0 p-3 bg-light offcanvas-start"
    style="width: 280px; height: 100vh; margin-right: 0 !important;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                {{#if user.settings.img}}
                <img src="/img/{{user.settings.img}}" alt="" width="32" height="32" class="rounded-circle me-2">
                {{else}}
                <img src="/img/default.png" alt="" width="32" height="32" class="rounded-circle me-2">
                {{/if}}
                <strong>{{user.firstname}}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/user/logout">Log out</a></li>
            </ul>
        </div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {{#if isHome}}
        <li class="nav-item">
            <a href="/user" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                Preview
            </a>
        </li>
        {{else}}
        <li>
            <a href="/user" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                Preview
            </a>
        </li>
        {{/if}}
        {{#if isEdit}}
        <li class="nav-item">
            <a href="/user/edit" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                Edit
            </a>
        </li>
        {{else}}
        <li>
            <a href="/user/edit" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                Edit
            </a>
        </li>
        {{/if}}

        <li>
            <a href="/user/logout" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle"></use>
                </svg>
                Logout
            </a>
        </li>
    </ul>
    <hr>

</div>