<div class="user_background" style="background: {{user.settings.color}};">
    <div class="container">
        <div class="row background align-items-center justify-content-center">
            <div class="col-8 flex-column" style="display: flex; align-items: center; justify-content: center;">
                <div class="user_info">
                    <div class="relative_img">
                        {{#if user.settings.img}}
                        <img src="/img/{{user.settings.img}}" alt="" width="32" height="32"
                            class="rounded-circle me-2 user_img">
                        {{else}}
                        <img src="/img/default.png" alt="" width="32" height="32" class="rounded-circle me-2 user_img">
                        {{/if}}
                        <label class="absolute_icon_pencil" for="form_img"><img width="40px" height="40px"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"
                                alt="img"></label>
                    </div>
                    <form class="img_and_name" action="/user/edit/name/{{user.firstname}}" method="post"
                        enctype="multipart/form-data">
                        {{#if error}}
                            <p style="color: red;">{{error}}</p>
                        {{else}}
                        {{/if}}
                        <input type="text" class="user_edit_name form-control" value="{{user.firstname}}"
                            name="firstname">
                        <input type="file" id="form_img" style="display: none;" name="img">
                        <button type="submit" class="btn">Edit</button>
                    </form>
                </div>

                <form action="/user/edit/link/{{user.firstname}}" method="post" class="link_form">
                    <select name="socialName" id="net_work" required class="link_select">
                        <option>Telegram</option>
                        <option>Facebook</option>
                        <option>Instagram</option>
                        <option>Linkedin</option>
                        <option>Twitter</option>
                        <option>Steam</option>
                        <option>Spotify</option>
                        <option>DropBox</option>
                        <option>Snapchat</option>
                        <option>Twitch</option>
                        <option>Github</option>
                    </select>
                    <div class="link_items">
                        <input type="text" name="link" required placeholder="Link" class="form-control link_inp">
                        <button type="submit" class="btn link_btn">Save</button>
                    </div>
                </form>

                {{#each user.settings.social}}
                <a class="a_links d-flex align-items-center" href="http://{{link}}">
                    <img width="100px" src="" alt="img" style="margin-right: 20px;">
                    <p>{{socialName}}</p>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/js/user.js"></script>