<div class="user_background" style="background-color: {{user.settings.color}}; height: 100vh;">
  
  <div class="user_adas d-flex flex-column align-items-center justify-content-center" style="height: 90%;">
    <div class="user_info d-flex align-items-center">
          {{#if user.settings.img}}
            <img
              src="/img/{{user.settings.img}}"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2 user_img"
            />
          {{else}}
            <img
              src="/img/default.png"
              alt=""
              width="32"
              height="32"
              class="rounded-circle me-2 user_img"
            />
          {{/if}}
          <h2 class="user_name">{{user.firstname}}</h2>
        </div>
        <div class="user_links">
          {{#each user.settings.social}}
            <a class="a_links d-flex align-items-center" href="http://{{link}}">
              <img width="100px" src="" alt="img" style="margin-right: 20px;" />
              <p class="social_name">{{socialName}}</p>
            </a>
          {{/each}}
        </div>
  </div>
       
    <div class="link_mylinks d-flex align-items-center justify-content-center">
         <a href="/" style="color: #fff; text-decoration: none; font-weight: 700; font-size: 20px;">MyLINKs</a>
    </div>
          
</div>

<script src="/js/user.js"></script>